<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Xray Model</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<div align="center">
   <h1>PNEUMONIA PREDICTOR</h1>
    <h3>Using a Convolution Neural Network (~95% accuracy)</h3>
    <p>The training dataset used in this project can be found  <a href="https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia">here at kaggle.com</a>.</p>
    <p>This model attempts to correctly classify a frontal chest xray as either 'Normal' or 'Pneumonia.<br>
    This tool is for education purposes only and should not be used for diagnosis of pneumonia cases.<br>
    If you have symptoms of pneumonia, please seek professional medical assistance.</p>
     <hr>
    <h2>Upload a frontal chest xray </h2>
    <h4>(jpg gif or png), 8MB or smaller, black/white images</h4>

    <form method=post enctype=multipart/form-data>
            <input type=file name=file>
          <input type=submit value=Upload>
   </form><br><br>


    <div class="output">

        {% if filename %}
            {{ filename }}<br>
            <figure>
                <img src="{{url_for('static', filename='uploads/' + filename)}}" width="300" height="300"/>
                <figcaption>image resized to 150x150px for model</figcaption>
            </figure>


            {% if pred == 'Normal' %}
                <h2>Our model predicts: <b class="goodnews">{{ pred }}</b></h2><br>
            {% else %}
                <h2>Our model predicts: <b class="badnews">{{ pred }}</b></h2>

                Numerical result (0 to 1): {{ result }}

            {% endif %}

        {% endif %}
     </div>
</div>

</body>
<div id="footer">
    <p>&copy; Aaron Lee -- 2020</p>
  <a href="https://sciencelee.medium.com">Other projects</a>
</div>
</html>